<h2 class="section-title">{{ .titles.location }}</h2>

<p> The conference will be held in the heart of London at the Strand Campus of King's College London. The Strand Campus of King's is conveniently located roughly in the middle between the Holborn tube station in the North (Central and Piccadilly Lines) and Temple tube station (Circle and District Lines) in the South.
</p>

<p>
Many of London's most famous places and tourist attraction are in walking distance from the campus. 
</p>

<p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.1190847158432007%2C51.51237658471972%2C-0.11460542678833009%2C51.5138171340958&amp;layer=mapnik&amp;marker=51.51309603048481%2C-0.11684507131576538" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=51.51310&amp;mlon=-0.11685#map=19/51.51310/-0.11685&amp;layers=N">View Larger Map</a></small>
</p>

<h3>Getting to King's</h3>

<h4>From the airports</h4>

<h4>From the train stations<h4>
